/* Resetting default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Styling for the navigation bar */
nav {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
}

/* Styling for navigation links */
nav a {
  text-decoration: none;
  color: azure;
  font-size: large;
}
/* Styling for the navigation sections */
.nav1,
.nav2 {
  gap: 25px;
  padding: 0 10px 0 0;
  display: flex;
}

/* Styling for the header */
header {
  background-color: black;
  width: 100%;
  height: 150px;
  padding-top: 1vh;
  color: white;
}

/* Styling for the header content */
.head1,
.head2 {
  display: inline;
  display: flex;
}

/* Styling for the search bar and logo section */
.head1 {
  padding-top: 20px;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  gap: 10px;
}

/* Styling for the brand name */
.head1 p {
  font-size: larger;
  font-style: italic;
  color: chartreuse;
}

/* Styling for the search input */
.head1 input {
  width: 70%;
  height: 40px;
  border-radius: 40px;
}

/* Styling for the category section */
.head2 {
  padding-top: 20px;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}

/* Styling for the body */
body {
  background-image: url("../res/bkg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: large;
  color: black;
  background-attachment: fixed;
  background-position: center;
}

/* Styling for the cart icon */
header img {
  width: 20px;
}

/* Styling for the cart container */
#cart {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: right;
  align-items: end;
  padding-right: 10%;
  gap: 50px;
}

/* Styling for item images */
.item img {
  width: 10vw;
}

/* Styling for like button images */
.like img {
  width: 30px;
}

/* Styling for item buttons */
.butt {
  display: flex;
  height: 30px;
  gap: 10px;
}

/* Styling for increment and decrement buttons */
.decrement,
.increment {
  display: flex;
  width: 50px;
  height: 20px;
  color: gray;
  background-color: black;
  font-size: larger;
}

/* Styling for quantity display */
.quantity {
  color: black;
}

/* Styling for delete button */
.delete {
  display: flex;
  width: 50px;
  height: 20px;
  color: red;
  background-color: black;
}