/* Resetting default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Styling for the navigation bar */
nav {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
}

/* Styling for navigation links */
nav a {
  text-decoration: none;
  color: azure;
  font-size: large;
}
/* Styling for the navigation sections */
.nav1,
.nav2 {
  gap: 25px;
  padding: 0 10px 0 0;
  display: flex;
}

/* Styling for the header */
header {
  background-color: black;
  width: 100%;
  height: 25vh;
  padding-top: 1vh;
  color: white;
}

/* Styling for the header content */
.head1,
.head2 {
  display: inline;
  display: flex;
}

/* Styling for the search bar and logo section */
.head1 {
  padding-top: 20px;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  gap: 10px;
}

/* Styling for the brand name */
.head1 p {
  font-size: larger;
  font-style: italic;
  color: chartreuse;
}

/* Styling for the search input */
.head1 input {
  width: 70%;
  height: 40px;
  border-radius: 40px;
}

/* Styling for the category section */
.head2 {
  padding-top: 20px;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}

/* Styling for the body */
body {
 height: 100vh;
 overflow: hidden;
  font-size: large;
  color: black;
  /* background-attachment: fixed; */
}

/* Styling for the cart icon */
header img {
  width: 20px;
}

/* Styling for the cart container */
#cart {
  background-image: url("../res/bkg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: end;
  gap: 50px;
  height: 70vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.item{
  display: flex;
  width: 35%;
  gap: 5%;
}
  .inner-item{
    justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}
  .grp1, .grp2, .grp3{
    width: 100%;
  display: flex;
  justify-content: space-between;
}
.grp2Inner{
  display: flex;
  gap: 10%;
}

/* Styling for item images */
.item img {
  width: 30%;
  border-radius: 5%;
}

/* Styling for like button images */
.like img {
  width: 30px;
}

/* Styling for item buttons */
.butt {
  display: flex;
  height: 30px;
  gap: 10px;
}

/* Styling for increment and decrement buttons */
.decrement,
.increment {
  display: flex;
  width: 20px;
  height: 20px;
  color: black;
  background-color: rgb(237,179,46);
  font-size: larger;
  border-color: rgb(237,179,46);
}

/* Styling for quantity display */
.quantity {
  color: black;
}

/* Styling for delete button */
.delete {
  display: flex;
  width: 50px;
  height: 20px;
  color: red;
}
@media (max-width: 576px) {
  #box1,
  #box2 {
    width: 100%;
  }
  #box {
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  #box {
    width: 100%;
  }
}
